@font-face {
    font-family:Montserrat-Bold ;
    src: url(Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat-Medium;
    src: url(Montserrat-Medium.ttf);
}
@font-face {
    font-family:Montserrat-SemiBold;
    src: url(Montserrat-SemiBold.ttf);
}

.header {
    font-family: Montserrat-Medium;
    overflow: hidden;
    background-color: #D21B1C;
    padding: 20px 10px;
    vertical-align: middle;
    align-items: center;
}

.header a:hover {
    background-color: #f7ccc488;
    color: white;
    vertical-align: middle;
}

/*.header a.active {
    background-color: #8a899d;
    color: white;
}
*/
.header a {
    float: right;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    vertical-align: middle;
}  

.header-right {
    float: none;
}

.header a.logo{
    vertical-align: middle;
    float: left;
    background-color: transparent !important;
    padding: 0 0 0 0;
    transform: translateX(10px);
}

.header a.logo-text{
    font-size: 22px;
    font-family: Montserrat-Bold;
    float: left;
}

.d1 {
    width: 400px;
    height: 20px;
    background-color: #d21b1b7c;
    overflow: hidden;
    border-radius: 10px;
    font-size: 15px;
    vertical-align: middle;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.text_b{
    font-family: Montserrat-Medium;
    font-size: 15px;
    text-align: left;
    color: white;
}

.button1{
    font-family: Montserrat-Medium;
    font-size: 15px;
    background-color: transparent;
    color: white;
    border: 2px solid #d21b1b7c;
    max-width: 250px;
    text-align: center;
    border-radius: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    float: left;
    
}

.button1:hover{
    background-color: #d21b1b7c;
    color: white;
}

.centrar{
    text-align: center;
}
 
.container_j{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F2AAA7;
   
}
 
.cont_b{
    font-family: Montserrat-Medium;
    background-color: #F2AAA7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*width: 50%;
    max-height: 500px;*/
    padding: 20px;
    margin-right: 20px;
    color: white;
}

.cont_b h1{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: left;

}

.cont_b p{
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
}

.cont_b img{
    width: 400px;
    height: 400px;
    margin-right: 10px;
}
 

.cakes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #D21B1C;
    font-family: Montserrat-Medium;
    color: white;
}

.cake {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    background-color: #F2AAA7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.253);
    padding: 20px;
    margin-right: 20px;
    color: #D21B1C;
    margin-top: 40px;
    border-radius: 7px;

}
  
.cake h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cake h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.cake p {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
}

.cake img{
   width: 185px;
   height: 185px;
   margin-right: 10px;
   border-radius: 50%;
}


@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
        vertical-align: middle;
    }

    .header a.logo{
        float: none;
        display: block;
        text-align: left;
    }

    .header a.logo-text{
        display: none;
    }

    .d1{
        float: none;
    }

    .container_j{
        display: grid;
    }

    .cont_b{
        float: none;
    }
  }


